<a href="https://colab.research.google.com/github/CelesTech03/Data-Analytics-Winter-2022/blob/main/Python/Week%202/Day_2_Pandas_Continued.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [ ]:
data = pd.DataFrame(randn(5, 4), ['A', 'B', 'C', 'D', 'E'], 
                    ['W', 'X', 'Y', 'Z'])

#Selecting Rows

In [ ]:
data.head()

          W         X         Y         Z
A -0.235407  0.155689  0.330513 -0.979765
B  1.673905  0.525021 -0.556305  1.320850
C -0.105949 -0.241549 -1.102913  0.402526
D -0.655851 -0.297793 -0.856783 -0.549590
E -1.014251  0.182167 -0.240593  0.916146

In [ ]:
# Drops row E from the DataFrame
data.drop('E', axis = 0)

          W         X         Y         Z
A -0.235407  0.155689  0.330513 -0.979765
B  1.673905  0.525021 -0.556305  1.320850
C -0.105949 -0.241549 -1.102913  0.402526
D -0.655851 -0.297793 -0.856783 -0.549590

In [ ]:
# loc uses the name of the element
data.loc['C']

W   -0.105949
X   -0.241549
Y   -1.102913
Z    0.402526
Name: C, dtype: float64

In [ ]:
# iloc uses index to pull out the element
data.iloc[2]

W   -0.105949
X   -0.241549
Y   -1.102913
Z    0.402526
Name: C, dtype: float64

#Filtering

In [ ]:
# Prints where the values are true or false for greater than 0
data > 0
# nba['team']['players']['pts'] >  30

       W      X      Y      Z
A  False   True   True  False
B   True   True  False   True
C  False  False  False   True
D  False  False  False  False
E  False   True  False   True

In [ ]:
# this line is saying show me all the values within the table 
# in which the expression is true; meaning, where all the values
# whiin the table are less than 0.
data < 0

       W      X      Y      Z
A   True  False  False   True
B  False  False   True  False
C   True   True   True  False
D   True   True   True   True
E   True  False   True  False

In [ ]:
# This line translates to:
# let's hold the outcome of the expression 'data < 0' into a variable
booldf = data < 0
booldf

       W      X      Y      Z
A   True  False  False   True
B  False  False   True  False
C   True   True   True  False
D   True   True   True   True
E   True  False   True  False

In [ ]:
# Only prints the data where all the values are True
# In this case all data less than 0
data[booldf]

          W         X         Y         Z
A -0.235407       NaN       NaN -0.979765
B       NaN       NaN -0.556305       NaN
C -0.105949 -0.241549 -1.102913       NaN
D -0.655851 -0.297793 -0.856783 -0.549590
E -1.014251       NaN -0.240593       NaN

In [ ]:
data[data < 0]

          W         X         Y         Z
A -0.235407       NaN       NaN -0.979765
B       NaN       NaN -0.556305       NaN
C -0.105949 -0.241549 -1.102913       NaN
D -0.655851 -0.297793 -0.856783 -0.549590
E -1.014251       NaN -0.240593       NaN

In [ ]:
# Only shows the values less than 0 in column W
# Notice it only shows row C
data[data['W'] < 0]

          W         X         Y         Z
A -0.235407  0.155689  0.330513 -0.979765
C -0.105949 -0.241549 -1.102913  0.402526
D -0.655851 -0.297793 -0.856783 -0.549590
E -1.014251  0.182167 -0.240593  0.916146

In [ ]:
# Only shows the values less than 0 in column W
# Notice it only shows row C
data[data['W'] > 0]

          W         X         Y        Z
B  1.673905  0.525021 -0.556305  1.32085