<a href="https://colab.research.google.com/github/CelesTech03/Data-Analytics-Winter-2022/blob/main/Python/Week%201/Day_3_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For Loops

In [ ]:
# A for loop can be used to loop through and print the letters in a string.
for x in 'CUNY':
  print(x)

C
U
N
Y

In [ ]:
# For loops can also loop through a list of items
TV_Shows = ['star trek', 'game of thrones', 'stranger things']
# Another way to think about it is: “For every show in the list of tvshows, print the tv show”
for show in TV_Shows:
  print(show.title() + ' is one of my fave TV shows') #title() capitalizes first letter of word

Star Trek is one of my fave TV shows
Game Of Thrones is one of my fave TV shows
Stranger Things is one of my fave TV shows

In [ ]:
fruits = ['Orange', 'Apple', 'Pear', 'Grapes', 'Banana', 'Peach', 'Watermelon']
for i in fruits:
  print(i.upper() + ' is one of my fave fruits')

ORANGE is one of my fave fruits
APPLE is one of my fave fruits
PEAR is one of my fave fruits
GRAPES is one of my fave fruits
BANANA is one of my fave fruits
PEACH is one of my fave fruits
WATERMELON is one of my fave fruits

In [ ]:
# One useful function is the range() function.  It allows you to quickly print out a series of numbers.
for x in range(1,21):
  print(x+3)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [ ]:
# The range() function can also be used to make a list [].
list(range(1, 21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
numbers = list(range(0,11, 2)) # Every other number (2)
print(numbers)

[0, 2, 4, 6, 8, 10]

In [ ]:
# You can also perform simple statistics on your list
len(numbers)

6

In [ ]:
min(numbers)

0

In [ ]:
max(numbers)

10

In [ ]:
sum(numbers)

30

In [ ]:
# You can slice through your list to print out only certain groups of elements.
tvshows = ['star trek', 'game of thrones', 'stranger things', 'big bang theory', 'black mirror']
print(tvshows[0:3])
print(tvshows[2:4])
print(tvshows[:3])
print(tvshows[2:])
print(tvshows[-2:])

['star trek', 'game of thrones', 'stranger things']
['stranger things', 'big bang theory']
['star trek', 'game of thrones', 'stranger things']
['stranger things', 'big bang theory', 'black mirror']
['big bang theory', 'black mirror']

In [ ]:
# You can even loop through your slice with a for loop.
tvshows = ['star trek', 'game of thrones', 'stranger things', 'big bang theory', 'black mirror']
print("Some cool TV shows to watch")
for coolshows in tvshows[:2]:
  print(coolshows.title())

Some cool TV shows to watch
Star Trek
Game Of Thrones

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10,23,5,6,87,98765,345,52,3465,4123,454,90]

In [ ]:
for x in l:
  if x % 2 == 0:
    print(x)
  else:
    print(x, 'This is not an even number')

1 This is not an even number
2
3 This is not an even number
4
5 This is not an even number
6
7 This is not an even number
8
9 This is not an even number
10
23 This is not an even number
5 This is not an even number
6
87 This is not an even number
98765 This is not an even number
345 This is not an even number
52
3465 This is not an even number
4123 This is not an even number
454
90

In [ ]:
for x in l:
  if x % 2 != 0:
    print(x)
  else:
    print(x, 'This is not an odd number')

1
2 This is not an odd number
3
4 This is not an odd number
5
6 This is not an odd number
7
8 This is not an odd number
9
10 This is not an odd number
23
5
6 This is not an odd number
87
98765
345
52 This is not an odd number
3465
4123
454 This is not an odd number
90 This is not an odd number

In [ ]:
for letter in 'This is a string':
  print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [ ]:
l2 = [1, 2, 3, 4, 5]

In [ ]:
listSum = 0
for num in l2:
  listSum = listSum + num

print(listSum)

15

In [ ]:
dy = {'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4}

In [ ]:
for item in dy:
  print(item)

k1
k2
k3
k4

In [ ]:
for i,j in dy.items():
  print(i)
  print(j)

k1
1
k2
2
k3
3
k4
4

#For Loops Part 2

In [ ]:
patient = {
    'Name': 'Jack', 
    'Last Name': 'Sparrow', 
    'MRN': '001234567', 
    'DOB': '22231845'
}

In [ ]:
for x,y in patient.items(): #Items goes through every key value pair
  print('\n x: ' + x)
  print('\n y: ' + y)

 x: Name

 y: Jack

 x: Last Name

 y: Sparrow

 x: MRN

 y: 001234567

 x: DOB

 y: 22231845

In [ ]:
for keys in patient.keys():
  print(keys)

Name
Last Name
MRN
DOB

In [ ]:
for values in patient.values():
  print(values)

Jack
Sparrow
001234567
22231845

In [ ]:
# create a new dictionary to work with keys
friends_ages = {
    'nick': '30',
    'amanda': '34',
    'john': '36',
    'haley': '26'
}

In [ ]:
# The whitespace helps Python determine when one code is connected to another line of code.
# You’ll notice Python codes are indented are different levels.  These levels help you understand how the program is organized.
fav_friends = ['nick', 'amanda']
for name in friends_ages.keys():
  print(name.title())

  if name in fav_friends:
    print("Hi " + name.title() + ", I see you're " + friends_ages[name])

Nick
Hi Nick, I see you're 30
Amanda
Hi Amanda, I see you're 34
John
Haley