<a href="https://colab.research.google.com/github/CelesTech03/Data-Analytics-Winter-2022/blob/main/Python/Week%203/Day_2_911_Data_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/glopez21/ML-Data/main/911.csv')

In [ ]:
df.head()

         lat        lng  ...                        addr  e
0  40.297876 -75.581294  ...      REINDEER CT & DEAD END  1
1  40.258061 -75.264680  ...  BRIAR PATH & WHITEMARSH LN  1
2  40.121182 -75.351975  ...                    HAWS AVE  1
3  40.116153 -75.343513  ...          AIRY ST & SWEDE ST  1
4  40.251492 -75.603350  ...    CHERRYWOOD CT & DEAD END  1

[5 rows x 9 columns]

In [ ]:
df.columns

Index(['lat', 'lng', 'desc', 'zip', 'title', 'timeStamp', 'twp', 'addr', 'e'], dtype='object')

In [ ]:
df.isnull().sum()

lat              0
lng              0
desc             0
zip          12855
title            0
timeStamp        0
twp             43
addr           519
e                0
dtype: int64

In [ ]:
df.drop(columns=['zip','e'], inplace=True)

In [ ]:
df.columns

Index(['lat', 'lng', 'desc', 'title', 'timeStamp', 'twp', 'addr'], dtype='object')

In [ ]:
# How many different types of incident titles were there? 11
# What was the most frequently reported incident title? Vehicle Accident (23,066 times)
df['title'].value_counts()

Traffic: VEHICLE ACCIDENT -    23066
Traffic: DISABLED VEHICLE -     7702
Fire: FIRE ALARM                5496
EMS: RESPIRATORY EMERGENCY      5112
EMS: CARDIAC EMERGENCY          5012
                               ...
Fire: PLANE CRASH                  1
EMS: DISABLED VEHICLE              1
EMS: PLANE CRASH                   1
EMS: BOMB DEVICE FOUND             1
Fire: DIABETIC EMERGENCY           1
Name: title, Length: 110, dtype: int64

In [ ]:
# Which township had the most reported incidents? : Lower Merion
df['twp'].value_counts()

LOWER MERION     8443
ABINGTON         5977
NORRISTOWN       5890
UPPER MERION     5227
CHELTENHAM       4575
                 ...
BRYN ATHYN        173
SALFORD           163
GREEN LANE         51
PHILA COUNTY       43
LEHIGH COUNTY      30
Name: twp, Length: 68, dtype: int64

In [ ]:
# Which address had the most reported incidents? : SHANNONDELL DR & SHANNONDELL BLVD (938)
df['addr'].value_counts()

SHANNONDELL DR & SHANNONDELL BLVD    938
MAIN ST & OLD SUMNEYTOWN PIKE        390
THE FAIRWAY  & RYDAL RD              260
GULPH RD & KIRK AVE                  235
EVERGREEN RD & W LIGHTCAP RD         232
                                    ...
SUMMIT AVE & INDEPENDENCE AVE          1
CURWEN CIR & CURWEN RD                 1
FORREST RD                             1
BLACK ROCK RD & OLYMPIC RD             1
ST CLAIR ST & CHERRY LN                1
Name: addr, Length: 21914, dtype: int64

In [ ]:
# Of the 938 reported cases in SHANNONDELL DR & SHANNONDELL BLVD, what was the most common case title? : EMS: MEDICAL ALERT ALARM (267)
df2=df[df['addr']=='SHANNONDELL DR & SHANNONDELL BLVD']

In [ ]:
df2.head()

           lat        lng  ...               twp                               addr
25   40.133037 -75.408463  ...  LOWER PROVIDENCE  SHANNONDELL DR & SHANNONDELL BLVD
57   40.133037 -75.408463  ...  LOWER PROVIDENCE  SHANNONDELL DR & SHANNONDELL BLVD
70   40.133037 -75.408463  ...  LOWER PROVIDENCE  SHANNONDELL DR & SHANNONDELL BLVD
107  40.133037 -75.408463  ...  LOWER PROVIDENCE  SHANNONDELL DR & SHANNONDELL BLVD
160  40.133037 -75.408463  ...  LOWER PROVIDENCE  SHANNONDELL DR & SHANNONDELL BLVD

[5 rows x 7 columns]

In [ ]:
df2['title'].value_counts()

EMS: MEDICAL ALERT ALARM           267
EMS: FALL VICTIM                   211
EMS: CARDIAC EMERGENCY              78
EMS: RESPIRATORY EMERGENCY          75
EMS: SUBJECT IN PAIN                39
EMS: ALTERED MENTAL STATUS          31
EMS: HEAD INJURY                    30
EMS: CVA/STROKE                     25
EMS: GENERAL WEAKNESS               22
Fire: FIRE ALARM                    21
EMS: HEMORRHAGING                   21
EMS: UNKNOWN MEDICAL EMERGENCY      17
EMS: ABDOMINAL PAINS                14
EMS: BACK PAINS/INJURY              13
EMS: NAUSEA/VOMITING                12
EMS: FEVER                          11
EMS: UNCONSCIOUS SUBJECT             9
EMS: DIZZINESS                       7
EMS: LACERATIONS                     7
EMS: UNRESPONSIVE SUBJECT            7
EMS: SYNCOPAL EPISODE                6
EMS: FRACTURE                        4
EMS: SEIZURES                        3
EMS: CARDIAC ARREST                  2
Fire: FIRE INVESTIGATION             2
EMS: CHOKING                         1
Fire: S/B AT HELICOPTER LANDING      1
EMS: ALLERGIC REACTION               1
EMS: DEHYDRATION                     1
Name: title, dtype: int64